<!-- Footer -->
<section id="footer">
    <div class="container" >
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/magazines"><i class="fa fa-angle-double-right"></i>Magazines</a></li>
                    <li><a href="/comics"><i class="fa fa-angle-double-right"></i>Comics</a></li>
                    <li><a href="/textbooks"><i class="fa fa-angle-double-right"></i>Text Books</a></li>
                    <li><a href="/newspapers"><i class="fa fa-angle-double-right"></i>Newspapers</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/mohsingram"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Accepted Payments</h5>
               <a href="https://www.paypal.com/ke/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ke/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo"></a><br><!-- PayPal Logo -->

{#<table border="0" cellpadding="0" cellspacing="10" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/ke/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ke/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->#}

                <img src="https://www.merchantequip.com/image/?logos=v|m|a&height=32" alt="Merchant Equipment Store Credit Card Logos"/><br>
                <img class="d-block img-fluid" src="https://s3.us-east-2.amazonaws.com/wanderift/static/image/other/mpesa.png" alt="mpesa">
                {#                <ul class="list-unstyled quick-links">#}
{#                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>About</a></li>#}
{#                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>#}
{#                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>Developed by Mohsingram</a></li>#}
{#                    <li><a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a></li>#}
{#                </ul>#}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="/" target="">Ebooks Online</a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->